.wrapper {
    margin: 0 100px;
    padding: 25px 40px;
    background-color: white;
}

.product-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 600px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
