.cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #f3ebe9;
    // box-shadow: var(--box-shadow);
    &-image {
        margin-right: 20px;
        img {
            height: 130px;
        }
    }
    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        &-name {
            width: 40%;
        }
        &-name,
        &price {
            font-size: 1.3rem;
        }
        &-del {
            font-size: 1.5rem;
            i {
                cursor: pointer;
                &:hover {
                    color: var(--primary);
                }
            }
        }
        &-item {
            &-quantity {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                &-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    border: 1px solid rgba(0, 0, 0, 0.09);
                    color: rgba(0, 0, 0, 0.8);
                    font-size: 1.5rem;
                    cursor: pointer;
                }

                &-input {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    width: 50px;
                    font-size: 1.5rem;
                    border-top: 1px solid rgba(0, 0, 0, 0.09);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .cart-item {
        &-info {
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            & > * {
                margin-bottom: 10px;
            }
            &-name {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
}
